EKYC[[:space:]]Create[[:space:]]a[[:space:]]Appropriate[[:space:]]Report[[:space:]]and[[:space:]]Dashboard[[:space:]]base[[:space:]]on[[:space:]]the[[:space:]]Given[[:space:]]Insight.pbix filter=lfs diff=lfs merge=lfs -text
Analysis[[:space:]]on[[:space:]]Entire[[:space:]]Penny[[:space:]]drop[[:space:]]log[[:space:]]data.pbix filter=lfs diff=lfs merge=lfs -text
Trading[[:space:]]Power[[:space:]]BI[[:space:]]Report[[:space:]]And[[:space:]]Dashboard.pbix filter=lfs diff=lfs merge=lfs -text
Analysis[[:space:]]on[[:space:]]Entire[[:space:]]Penny[[:space:]]drop[[:space:]]log[[:space:]]data[[:space:]]doc.pdf filter=lfs diff=lfs merge=lfs -text
EKYC[[:space:]]Create[[:space:]]a[[:space:]]Appropriate[[:space:]]Report[[:space:]]and[[:space:]]Dashboard[[:space:]]base[[:space:]]on[[:space:]]the[[:space:]]Given[[:space:]]Insight1.pdf filter=lfs diff=lfs merge=lfs -text
Trading[[:space:]]doc1.pdf filter=lfs diff=lfs merge=lfs -text
BG-COL-1.png filter=lfs diff=lfs merge=lfs -text
BG-COL-2.png filter=lfs diff=lfs merge=lfs -text
BG-COL-3.jpg filter=lfs diff=lfs merge=lfs -text
DAX[[:space:]]Formula-Trading[[:space:]]Power[[:space:]]BI[[:space:]]Report[[:space:]]and[[:space:]]Dashboard.docx filter=lfs diff=lfs merge=lfs -text
DAX[[:space:]]Formula-Penny[[:space:]]Drop.docx filter=lfs diff=lfs merge=lfs -text
DAX[[:space:]]Formula-EKYC.docx filter=lfs diff=lfs merge=lfs -text
